<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Page</title>
</head>
<body>
    <form method='post' action="/polecalculater">
        <table>
            <tr>
                <td>項目1:</td>
                <td><div class="readonly-field">{{ item1 }}</div></td>
            </tr>
            <tr>
                <td>項目2:</td>
                <td><div class="readonly-field">{{ item2 }}</div></td>
            </tr>
            <tr>
                <td>項目3:</td>
                <td><div class="readonly-field">{{ item3 }}</div></td>
            </tr>
            <tr>
                <td>項目4:</td>
                <td><div class="readonly-field">{{ item4 }}</div></td>
            </tr>
        </table>
        
        <input type="submit" value="提交">
    </form>
</body>
</html>
